<html>
    <head>
    <link rel="stylesheet" href="/static/css/edit.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    </head>
    <body>
        <header>
            <h1>
            <form method="post">
            <input name="name" value="{{ name or '' }}" placeholder="Your name"></input>
            </h1>
            <ul class="contact">
                <li><input name="twitter" value="{{ twitter or '' }}" placeholder="@Twitter"></input></li>
                <li><input name="github" value="{{ github or '' }}" placeholder="Github username"></input></li>
                <li><input name="website" value="{{ website or '' }}" placeholder="Personal site URL"></input></li>
            </ul>
            <strong>Click to enable sections. Drag to rearrange.</strong>
            <ul class="nav">
                <li><input name="projects" type="checkbox" {{ projects|check }}><a href="">Projects</a></li>
                <li><input name="courses" type="checkbox" {{ courses|check }}><a href="">Courses</a></li>
                <li><input name="books" type="checkbox" {{ books|check }}><a href="">Books</a></li>
                <li><input name="online" type="checkbox" {{ online|check }}><a href="">Online</a></li>
                <li><input name="opensource" type="checkbox" {{ opensource|check }}><a href="">Open Source</a></li>
                <li><input name="meatspace" type="checkbox" {{ meatspace|check }}><a href="">Meatspace</a></li>
            </ul>
            <strong>Style options</strong>
            <ul>
                <li>Link color:<input name="linkcolor" value="{{ linkcolor or '' }}" placeholder="#FF0000"></input></li>
                <li>Sidebar color:<input name="sidebarcolor" value="{{ sidebarcolor or '' }}" placeholder="#FF0000"></input></li>
                <li>Header color:<input name="headercolor" value="{{ headercolor or '' }}" placeholder="#FF0000"></input></li>
                <li>Header font:<input name="headerfont" value="{{ headerfont or '' }}" placeholder="Helvetica Neue"></input></li>
                <li>Body font:<input name="bodyfont" value="{{ bodyfont or '' }}" placeholder="Helvetica Neue"</input></li>
            </ul>
            <button type="submit"><i class="icon-ok"></i> Save settings</button>
            </form>
            <button><i class="icon-remove"></i> Cancel</button>
        </header>
        <div class="container">
            {% if projects %}
            <div class="category">
                <div class="category-header">
                    <h1>
                        <a class="delete" href=""><i class="icon-remove"></i></a>
                        Projects
                    </h1>
                </div>
                {% if items %} 
                {% for item in items %}
                {% if item.category == 'project' %}
                <div class="content">
                    <h2><a href="">{{ item.title }}</a></h2>
                    <h3>Date</h3>
                    <p>
                    {{ item.content|markdown|safe }}
                    </p>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% if newitem == 'project' %}
                <div class="content">
                    <form method="post">
                    <h2>
                        <input name="itemname" placeholder="Project Name"></input>
                        {{ title_error }}
                    </h2>
                    <h3>
                        <input type="date" name="itemdate" placeholder="Project Date"></input>
                    </h3>
                    <p>
                    <textarea name="itemdesc" rows="5" cols="90" placeholder="Project Description"></textarea>
                    </p>
                    <p class="big">
                    <a href="/{{ username }}/edit"><i class="icon-remove"></i> Cancel</a>
                    <button class="save" href=""><i class="icon-ok"></i> Save</a>
                    </p>
                    </form>
                </div>
                {% endif %}               
                <div class="content">
                    <h2>
                        <a class="new" href="/{{ username }}/new/project"><i class="icon-plus"></i> Add Project</a>
                    </h2>
                    <h3></h3>
                    <p></p>
                </div>
            </div>
            {% endif %}
            {% if courses %}
            <div class="category">
                <div class="category-header">
                    <h1>
                        <a class="delete" href=""><i class="icon-remove"></i></a>
                        Courses
                    </h1>
                </div>
                {% if items %} 
                {% for item in items %}
                {% if item.category == 'course' %}
                <div class="content">
                    <h2><a href="">{{ item.title }}</a></h2>
                    <h3>Date</h3>
                    <p>
                    {{ item.content|markdown|safe }}
                    </p>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% if newitem == 'course' %}
                <div class="content">
                    <form method="post">
                    <h2>
                        <input name="itemname" placeholder="Course Title"></input>
                        {{ title_error }}
                    </h2>
                    <h3>
                        <input type="date" name="itemdate" placeholder="Course Date"></input>
                    </h3>
                    <p>
                    <textarea name="itemdesc" rows="5" cols="90" placeholder="Course Description"></textarea>
                    </p>
                    <p class="big">
                    <a href="/{{ username }}/edit"><i class="icon-remove"></i> Cancel</a>
                    <button class="save" href=""><i class="icon-ok"></i> Save</a>
                    </p>
                    </form>
                </div>
                {% endif %}
                <div class="content">
                    <h2>
                        <a class="new" href="/{{ username }}/new/course"><i class="icon-plus"></i> Add Course</a>
                    </h2>
                    <h3></h3>
                    <p></p>
                </div>
            </div>
            {% endif %}
            {% if books %}
            <div class="category">
                <div class="category-header">
                    <h1>
                        <a class="delete" href=""><i class="icon-remove"></i></a>
                        Books
                    </h1>
                </div>
                {% if items %}
                {% for item in items %}
                {% if item.category == 'book' %}
                <div class="content books">
                    <h2><a href="">{{ item.title }}</a></h2>
                    <h3>Date</h3>
                    <p>
                    {{ item.content|markdown|safe }}
                    </p>
                </div>
                <div class="content books">
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% if newitem == 'book' %}
                <div class="content">
                    <form method="post">
                    <h2>
                        <input name="itemname" placeholder="Title"></input>
                        {{ title_error }}
                    </h2>
                    <h3>
                        <input type="date" name="itemdate" placeholder="Date Read"></input>
                    </h3>
                    <p>
                    <textarea name="itemdesc" rows="5" cols="90" placeholder="Description"></textarea>
                    </p>
                    <p class="big">
                    <a href="/{{ username }}/edit"><i class="icon-remove"></i> Cancel</a>
                    <button class="save" href=""><i class="icon-ok"></i> Save</a>
                    </p>
                    </form>
                </div>
                {% endif %}
                <div class="content books">
                    <h2>
                        <a class="new" href="/{{ username }}/new/book"><i class="icon-plus"></i> Add Book</a>
                    </h2>
                </div>
                <div class="content books">
                </div>
            </div>
            {% endif %}
            {% if online %}
            <div class="category">
                <div class="category-header">
                    <h1>
                        <a class="delete" href=""><i class="icon-remove"></i></a>
                        Online
                    </h1>
                </div>
                <div class="content online">
                </div>
            </div>
            {% endif %}
            {% if opensource %}
            <div class="category">
                <div class="category-header">
                    <h1>
                        <a class="delete" href=""><i class="icon-remove"></i></a>
                        Open Source
                    </h1>
                </div>
                {% if items %}
                {% for item in items %}
                {% if item.category == 'opensource' %}
                <div class="content">
                    <h2><a href="">{{ item.title }}</a></h2>
                    <h3>Date</h3>
                    <p>
                    {{ item.content|markdown|safe }}
                    </p>
                </div>
                <div class="content books">
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% if newitem == 'opensource' %}
                <div class="content">
                    <form method="post">
                    <h2>
                        <input name="itemname" placeholder="Project Name"></input>
                        {{ title_error }}
                    </h2>
                    <h3>
                        <input type="date" name="itemdate" placeholder="Project Date"></input>
                    </h3>
                    <p>
                    <textarea name="itemdesc" rows="5" cols="90" placeholder="Project Description"></textarea>
                    </p>
                    <p class="big">
                    <a href="/{{ username }}/edit"><i class="icon-remove"></i> Cancel</a>
                    <button class="save" href=""><i class="icon-ok"></i> Save</a>
                    </p>
                    </form>
                </div>
                {% endif %}
                <div class="content">
                    <h2>
                    <a class="new" href="/{{ username }}/new/opensource"><i class="icon-plus"></i> Add Open Source Project</a>
                    </h2>
                    <h3></h3>
                    <p></p>
                </div>
            </div>
            {% endif %}
            {% if meatspace %}
            <div class="category">
                <div class="category-header">
                    <h1>
                        <a class="delete" href=""><i class="icon-remove"></i></a>
                        Meatspace
                    </h1>
                </div>
                {% if items %}
                {% for item in items %}
                {% if item.category == 'meatspace' %}
                <div class="content">
                    <h2><a href="">{{ item.title }}</a></h2>
                    <h3>Date</h3>
                    <p>
                    {{ item.content|markdown|safe }}
                    </p>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% if newitem == 'meatspace' %}
                <div class="content">
                    <form method="post">
                    <h2>
                        <input name="itemname" placeholder="Activity Name"></input>
                        {{ title_error }}
                    </h2>
                    <h3>
                        <input type="date" name="itemdate" placeholder="Activity Date"></input>
                    </h3>
                    <p>
                    <textarea name="itemdesc" rows="5" cols="90" placeholder="Activity Description"></textarea>
                    </p>
                    <p class="big">
                    <a href="/{{ username }}/edit"><i class="icon-remove"></i> Cancel</a>
                    <button class="save" href=""><i class="icon-ok"></i> Save</a>
                    </p>
                    </form>
                </div>
                {% endif %}
                <div class="content">
                    <h2>
                    <a class="new" href="/{{ username }}/new/project"><i class="icon-plus"></i> Add Meatspace Activity</a>
                    </h2>
                    <h3></h3>
                    <p></p>
                </div>
            </div>
            {% endif %}
        </div>
        <footer>
        </footer>
        </div>
    </body>
</html>

