<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <header>
            <h1>
            <a>Hacker Transcript</a>
            </h1>
            <strong>This is a tagline.</strong>
            <form method="post">
            <ul class="signup">
                <li>
                <input type="text" name="username" placeholder="Username" value="{{ username }}"></input>
                {{ username_error }}
                </li>
                <li>
                <input type="password" name="password" placeholder="Password" value="{{ password }}"></input>
                {{ password_error }}
                </li>
                <li><button type="submit" formaction="signin">Sign in</button> 
                    <button type="submit" formaction="signup">Sign up</button>
                </form>
                <li><a class="btn-auth btn-twitter">Sign in with Twitter</a></li>
                <li><a class="btn-auth btn-github">Sign in with Github</a></li>                
            </ul>
                    </header>
        <div class="container">
        </div>
        <footer>
        </footer>
        </div>
    </body>
</html>
